<h1>Welcome to Code Collaboration</h1>
<p>Code Collaboration is a platform to help you share you code with other users</p>
<p>You can chat or make video calls to other users to discuss your issues</p>
<p>This platform is also suitable for online interview</p>